body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.error-message {
    background-color: #f44336; 
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color:#4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0c991f;
}


.home-button {
    display: block;            
    margin-top: 20px;          
    padding: 10px 15px;
    background-color: #333; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;    
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #555;
}






